---
layout: default
title: OpenStackCookbook(7) - Updated to provide a hands on approach to working with OpenStack Havana - Linux man page
---
<h1 >Havana Chapters Posts <a id="rss_header" href="/rss/feed.xml">(rss)</a></h1>
<ul class="subtext">
	{% for post in paginator.posts %}
	<li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
	{% endfor %}
</ul>
</div>
<!-- Pagination links -->
<div class="footer">
	{% if paginator.previous_page %}
	{% if paginator.previous_page == 1 %}
	<a href="/">Previous</a>
	{% else %}
	<a href="/page{{ paginator.previous_page }}">Previous</a>
	{% endif %}
	{% else %}
	<span>&nbsp;</span>
	{% endif %}
	<span>Page: {{ paginator.page }} of {{paginator.total_pages }}</span>
	{% if paginator.next_page %}
	<a href="/page{{ paginator.next_page }}">Next</a>
	{% else %}
	<span>&nbsp;</span>
	{% endif %}
</div>
