<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<meta http-equiv="content-type" content="text/html;charset=utf-8">

		<!-- Manpage CSS -->
		<link rel="stylesheet" href="/css/main.css">

		<!-- Google Analytics -->
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-34099280-2', 'openstackcookbook.com');
			ga('send', 'pageview');

		</script>
	</head>

  <body>
    <div class="linkfloater">
			<span style="font-weight: bold;">Quick Links</span><hr>
			<a href = "http://www.amazon.com/OpenStack-Cloud-Computing-Cookbook-Jackson/dp/1782167587/ref=sr_1_1?s=books&ie=UTF8&qid=1381417115&sr=1-1">Buy the Book</a><br>
			<a href="https://github.com/uksysadmin/OpenStackCookBook/">Code Samples on GitHub</a><br>
			<a href="/havana.html">** Havana **</a><br>
			<a href="/errata.html">Errata</a><br>
			<a href="https://plus.google.com/u/0/b/118130448899475645695/118130448899475645695/about">Need Help? G+</a><br>
			<a href="http://uksysadmin.wordpress.com/">Kevin's Blog</a><br>
			<a href=" http://twitter.com/itarchitectkev">Kevin on Twitter</a><br><br>
			<a href="http://openstack.prov12n.com">Cody's Blog</a><br>
			<a href="http://twitter.com/cody_bunch">Cody on Twitter</a><br><br>

			Why does<br>this page<br>look strange?<br>
			It's a <a href="http://en.wikipedia.org/wiki/Man_page">man page</a>!
    </div>

		<pre class="manheader">
			OpenStackCookbook(7) <a href = "http://www.amazon.com/OpenStack-Cloud-Computing-Cookbook-Jackson/dp/1782167587/ref=sr_1_1?s=books&ie=UTF8&qid=1381417115&sr=1-1">OpenStack Cookbook</a> OpenStackCookbook(7)
		</pre>

    {{ content }}

	  <pre class="manheader">
	    Kevin Jackson / Cody Bunch 2013-05-30 OpenStackCookbook(7)
	  </pre>
    <p class="footer">
      &copy; 2013 Kevin Jackson / Cody Bunch
    </p>
  </body>
</html>